h1 {
  color: rgb(230, 230, 230);
  /* font-family describes which fonts you want your website to use. 
  multiple fonts are listed so if a browser cannot use one, than you have backups.*/
  font-family: Arial, Helvetica, sans-serif;
  /* display: inline-block is a styling that causes H1 tags to be displayed as an inline mark*/
  display: inline-block;
  /* Self explanatory, text-align aligns the text to a portion of the page, in this case the center.*/
  text-align: center;
  /* Font-size changes the font size*/
  font-size: 5vw;
  background-color: rgb(0, 43, 68);
  /* Width and height are used to have the background of the H1 tag reach the whole of the words, and width to cover the page width-wise*/
  width: 100%;
  height: 100px;
  /* text shadows give a shadow effect to the H1 background, giving depth*/
  text-shadow: 5px 5px rgb(93, 138, 168);
  font-weight: bold;
}
p {
  color: rgb(24, 24, 24);
  /* font-family describes which fonts you want your website to use. 
  multiple fonts are listed so if a browser cannot use one, than you have backups.*/
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
body {
  /* Every version of background-image fuffils the same goal, to have a background image sent to the webpage. 
  the difference between these is that each one customizes it for a different browser, so make sure no site is background-less*/
  background-image: linear-gradient(#bff2ff, #0575e6);
  /* This tag ensures that the background will cover the entire screen, to make sure there is no jarring change in the background,
   which would take away from the content.*/
  background-size: cover;

  /* This animation takes place when a page is opened. it fades in, and as the time goes on, it increases in opacity until the page is completely visible.*/
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
/* These keyframes help the animation work correctly. as you can see, these keyframes in particular increase the opacity */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
ul {
  /* list-style-type refers to the styling that is inherent within the UL elements. */
  list-style-type: none;
  /* A margin is the space around an elements border.*/
  margin: 0;
  /* Padding is the space between the elements border and the concent within.*/
  padding: 10px;
  /* background color does what it says it does, it places a background color onto the elements.*/
  background-color: rgb(69, 155, 212);
  /* Normally, an element, once scrolled away from will dissapear until it is scrolled past again. 
  "position: fixed;" changes this so that the element will stay with the screen */
  position: fixed;
  top: 0;
  width: 100%;
  /* box shadow does about what you would expect. It creates a shadow around the sides of the element.*/
  box-shadow: 5px 5px 5px black;
  /* This styling removes the underline from links in the navigation.*/
  text-decoration: none;
  /* z-index refers to a visual heirarchy in which those with a higher number have a higher priority to be seen. 
  For example, if a heading has a z-index of 1, and an image has a z-index of 3, the image will be displayed overtop of the heading.*/
  z-index: 3;
  /* what you would expect. changes the size of the fonts used.*/
  font-size: larger;
}
h2 {
  color: rgb(24, 24, 24);
  /* text-decoration sounds fairly self explanatory. this one in particular adds an underline to each letter in the h2.*/
  text-decoration: underline;
  /* font-family describes which fonts you want your website to use. 
  multiple fonts are listed so if a browser cannot use one, than you have backups.*/
  font-family: Arial, Helvetica, sans-serif;
}
a:link {
  /* having text-decoration: none means that no decoration will take place in the links. No underlines, no boldings, nothing.*/
  text-decoration: none;
}
a:hover {
  /* a:hover applies to a link whenever the mouse hovers overtop of it.*/
  color: rgb(216, 0, 0);
}
