h1 {
  /*This tag changes the color of heading size 1 */
  color: rgb(230, 230, 230);
  /*This tag changes the font of H1, if one is unavailable, it moves to the next in line */
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  /*This tag aligns H1 to the center of the screen */
  text-align: center;
  /*This tag gives padding to the left of H1 */
  padding-left: 450px;
  /*This tag changes the size of the font */
  font-size: 5vw;
}
p {
  /*This tag changes the color of paragraph text */
  color: rgb(230, 230, 230);
  /*This tag changes the fonts available to the paragraph tag */
  font-family: Arial, Helvetica, sans-serif;
}
body {
  /*This tag changes the color of the background */
  background-color: rgb(66, 66, 66);
}

header {
  /*This tag changes the color of the header */
  background-color: rgb(77, 22, 22);
  /*These tags change the Width and height of the background of the header, that being the red color behind each head */
  width: 100%;
  height: 130px;
  display: inline-block;
}
h3 {
  /*This tag changes the color of heading size 3 */
  color: rgb(230, 230, 230);
  /*This tag changes the changes the fonts available to heading 3 */
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  /*This tag aligns the text to the center of the screen */
  text-align: center;
}
