h1 {
  color: rgb(230, 230, 230);
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
  font-size: 5vw;
  background-color: rgb(0, 96, 83);
  width: 100%;
  height: 100px;
}
p {
  color: rgb(230, 230, 230);
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(78, 161, 148);
}
ul {
  list-style-type: none;
  margin: 0;
  float: left;
  display: block;
  padding: 8px;
  background-color: rgb(0, 104, 90);
  border-right: 5px solid #bbb;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 5px 5px 5px black;
  text-decoration: none;
}
